.console-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(20, 20, 25, 0.9);
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.console-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
    font-size: 0.8rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.console-body {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
}

.console-body::-webkit-scrollbar {
    width: 6px;
}

.console-body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.console-line {
    word-break: break-all;
    line-height: 1.4;
}

.console-input-area {
    display: flex;
    align-items: center;
    gap: 5px;
}

.console-prompt {
    color: white;
    font-weight: bold;
}

.console-input {
    background: transparent;
    border: none;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    outline: none;
}


@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}